In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                title  year
0            Gigantic  2018
1  Lawson: White Heat  2009
2  The Purge: Anarchy  2014
3            Sawar Re  2008
4             Mockery  1927

In [4]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### What are the ten most common movie names of all time?
- 지금까지 가장 흔한 영화이름 10가지는?

In [5]:
titles.groupby('year')

### Which three years of the 1930s saw the most films released?
- 1930년대에서 어느 3년대가 가장 많이 영화 개봉을 했나?

In [6]:
years = cast[(cast.year // 10 == 193)]

In [7]:
years.year.value_counts().head(3)

1937    27346
1936    25665
1938    25170
Name: year, dtype: int64

### Plot the number of films that have been released each decade over the history of cinema.
- 영화 역사에 걸쳐 매 10년 마다 개봉된 영화의 수를 그려보세요.

In [8]:
for i in range(15):
    lst = cast[(cast.year >= 1890  + 10 * i) & (cast.year < 1890 + i * 10 + 10)]
    print('{}년대 = {}개'.format(1890 + 10 *i, len(lst)))

1890년대 = 3개
1900년대 = 70개
1910년대 = 42326개
1920년대 = 71039개
1930년대 = 198319개
1940년대 = 210697개
1950년대 = 209808개
1960년대 = 184391개
1970년대 = 211386개
1980년대 = 280528개
1990년대 = 378926개
2000년대 = 742871개
2010년대 = 1023991개
2020년대 = 152개
2030년대 = 0개

### Plot the number of "Hamlet" films made each decade.
- 매 10년마다 제작된 "햄릿"의 영화 수

In [11]:
for i in range(15):
    lst = titles[(titles.year >= 1890  + 10 * i) & (titles.year < 1890 + i * 10 + 10) 
                 & (titles.title == "Hamlet")]
    print('{}년대 = {}개'.format(1890 + 10 *i, len(lst)))

1890년대 = 0개
1900년대 = 0개
1910년대 = 3개
1920년대 = 1개
1930년대 = 0개
1940년대 = 1개
1950년대 = 1개
1960년대 = 2개
1970년대 = 2개
1980년대 = 1개
1990년대 = 2개
2000년대 = 2개
2010년대 = 4개
2020년대 = 0개
2030년대 = 0개

### Plot the number of "Rustler" characters in each decade of the history of film.
- 영화 역사상 매 10년 동안 "러스틀러"의 등장인물 수 표시

In [12]:
for i in range(15):
    lst = cast[(cast.year>=1890 +10*i) & (cast.year <1890 +i*10 +10)&(cast.character == "Rustler")]
    print('{}년대 = {}개'.format(1890 +10*i, len(lst)))

1890년대 = 0개
1900년대 = 0개
1910년대 = 0개
1920년대 = 6개
1930년대 = 84개
1940년대 = 18개
1950년대 = 8개
1960년대 = 2개
1970년대 = 9개
1980년대 = 1개
1990년대 = 4개
2000년대 = 2개
2010년대 = 0개
2020년대 = 0개
2030년대 = 0개

### Plot the number of "Hamlet" characters each decade.
- 매 년 "햄릿" 캐릭터 수

In [13]:
for i in range(15):
    lst = cast[(cast.year>=1890 +10*i) & (cast.year <1890 +i*10 +10)&(cast.character == "Hamlet")]
    print('{}년대 = {}개'.format(1890 +10*i, len(lst)))

1890년대 = 0개
1900년대 = 0개
1910년대 = 6개
1920년대 = 1개
1930년대 = 6개
1940년대 = 1개
1950년대 = 3개
1960년대 = 6개
1970년대 = 8개
1980년대 = 2개
1990년대 = 11개
2000년대 = 19개
2010년대 = 26개
2020년대 = 0개
2030년대 = 0개

### What are the 11 most common character names in movie history?
- 영화 역사상 가장 흔한 캐릭터 이름은 무엇입니까?

In [15]:
cast['character'].value_counts().head(11)

Himself        19468
Dancer         11855
Extra          10648
Reporter        8041
Doctor          7312
Student         6920
Policeman       6800
Party Guest     6626
Nurse           6523
Bartender       6498
Minor Role      6170
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?
- 영화 역사상 "자신"으로 가장 자주 인정받은 10명은 누구인가?

In [16]:
lst = cast[cast.character == 'Herself']

In [17]:
lst['name'].value_counts().head(10)

Joyce Brothers        14
Queen Elizabeth II    11
Mary Jo Pehl           7
Margaret Thatcher      7
Joan Rivers            6
Marilyn Monroe         5
Caroline Rhea          5
Rekha                  5
Kareena Kapoor         5
Bunny Yeager           5
Name: name, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?
- 영화 역사상 "Himself"로 가장 자주 여겨지는 10명의 사람들은 누구인가?

In [18]:
lst = cast[cast.character=='Himself']

In [19]:
lst['name'].value_counts().head(10)

Adolf Hitler             98
Richard Nixon            43
Ronald Reagan            36
John F. Kennedy          28
Ron Jeremy               23
George W. Bush           22
Winston Churchill        22
Benito Mussolini         22
Bill Clinton             20
Franklin D. Roosevelt    20
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?
- 1945년에 가장 많은 영화에 출연한 배우는 누구인가?

In [20]:
lst=cast[cast.year==1945]

In [21]:
lst['name'].value_counts().head(1)

Emmett Vogan    39
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1985?
- 1985년에 가장 많은 영화에 출연한 배우는 누구인가?

In [22]:
lst=cast[cast.year==1985]

In [23]:
lst['name'].value_counts().head(1)

Mammootty    21
Name: name, dtype: int64

### Plot how many roles Mammootty has played in each year of his career.
- 마무티가 그의 경력에서 매년 얼마나 많은 역할을 해왔는지 그려보아라.

In [24]:
lst = cast[cast.name=="Mammootty"]
len(lst)

269

### What are the 10 most frequent roles that start with the phrase "Patron in"?
- "패트론 인"이라는 문구로 시작하는 가장 빈번한 역할 10가지입니다.

In [25]:
lst = cast[cast['character'].str.startswith("Patron in") == True]

In [26]:
lst['character'].value_counts().head(10)

Patron in Frisky Rabbit         16
Patron in the Coffee House       9
Patron in Chinese Restaurant     9
Patron in Billiard Parlor        5
Patron in Bar                    4
Patron in cabaret                3
Patron in Club                   3
Patron in restaurant             3
Patron in Restaurant             3
Patron in Coffee Shop            2
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?
- "과학"이라는 단어로 시작하는 가장 빈번한 10개의 역할은 무엇인가?

In [27]:
lst = cast[cast['character'].str.startswith("Science") == True]

In [28]:
lst['character'].value_counts().head(10)

Science Teacher         57
Science Fair Student     9
Science Student          9
Science Fair Judge       5
Science Kid              5
Science Promo Cadet      5
Science Reporter         5
Science Club Member      5
Science                  3
Science Fair Teacher     3
Name: character, dtype: int64

### Plot the n-values of the roles that Judi Dench has played over her career.
- Judi Dench가 그녀의 경력에 대해 연기한 역할의 n-값을 그려보세요.

In [29]:
lst = cast[(cast.name=="Judi Dench")]

In [30]:
lst[['character','n']]

                             character     n
2661756                      Nora Doel   3.0
2661757                    Mrs. Beaver  13.0
2661758                        Titania  16.0
2661759     Eleanor Lavish, a novelist   7.0
2661760                          Sally   8.0
2661761                     Miss Lilly   2.0
2661762                              M   4.0
2661763                 Armande Voizin  18.0
2661764                 Laura Davidson   2.0
2661765                              M   6.0
2661766                       Narrator   7.0
2661767                           Wife   2.0
2661768                              M   6.0
2661769                         Hecuba  12.0
2661770                         Joanne   2.0
2661771          Mistress Nell Quickly  26.0
2661772                   Mrs. Caloway   7.0
2661773                   Iris Murdoch   3.0
2661774                   Annie Hoover  13.0
2661775                       Margaret   3.0
2661776                   Mrs. Fairfax  18.0
2661777                        Paulina   NaN
2661778                         Ursula   1.0
2661779                      Katherine   7.0
2661780                    Miss Avocet   NaN
2661781                 Queen Victoria   1.0
2661782           Mrs. Laura Henderson   1.0
2661783           Dame Sybil Thorndike  23.0
2661784                          Lilli   6.0
2661785                 Barbara Covett   1.0
2661786                      Philomena   1.0
2661787                   Society Lady  16.0
2661788        Lady Catherine de Bourg  20.0
2661789                              M   4.0
2661790                   Mona Carvell   NaN
2661791                       Bag Lady  40.0
2661792                   The Narrator   NaN
2661793                Queen Elizabeth  12.0
2661794                              M   2.0
2661795                              M   NaN
2661796                           Mary  29.0
2661797                       Arabella   2.0
2661798  Shakespeare's Sonnets read by   3.0
2661799              Evelyn Greenslade   1.0
2661800                         Aereon   4.0
2661801                 Lady Bracknell   5.0
2661802              Evelyn Greenslade   5.0
2661803                     Agnis Hamm   3.0
2661804                 Miss Humphries  12.0
2661805                              M   6.0
2661806                              M   9.0
2661807       The Abbess of St. Ursula   NaN
2661808                 Queen Victoria   NaN
2661809              Marcia Pilborough   3.0

### Plot the n-values of Cary Grant's roles through his career.
- 캐리 그랜트의 경력을 통해 그의 역할의 n-값을 그려보세요.

In [31]:
lst = cast[(cast.name=="Cary Grant")]

In [32]:
lst[['character','n']]

                   character     n
827671           Mock Turtle  10.0
827672       Nickie Ferrante   1.0
827673     Mortimer Brewster   1.0
827674  Det. Sgt. Danny Barr   1.0
827675         Nick Townsend   3.0
...                      ...   ...
827747   Sir William Rutland   1.0
827748         Charlie Mason   2.0
827749          Jimmy Hudson   2.0
827750            Ken Gordon   2.0
827751            Cary Grant   NaN

[81 rows x 2 columns]

### Plot the n-value of the roles that Sidney Poitier has acted over the years.
- 시드니 푸아티에가 수년간 연기한 역할의 n-값을 그림으로 표시

In [15]:
lst = cast[(cast.name=="Sidney Poitier")]

In [16]:
lst[['character','n','year']]

                                  character     n  year
1724587                        Gordon Ralfe   1.0  1965
1724588                       Manny Durrell   1.0  1977
1724589                  Walter Lee Younger   1.0  1961
1724590                    Dr. Matt Younger   1.0  1973
1724591                   Sgt. Eddie Towler   2.0  1960
1724592                              Rau-Ru   3.0  1957
1724593                   Gregory W. Miller  10.0  1955
1724594                           John Kane   1.0  1971
1724595                                Buck   1.0  1972
1724596                   Reverend Msimangu   3.0  1951
1724597                              Toller   2.0  1966
1724598                         Tommy Tyler   2.0  1957
1724599                          Jack Parks   1.0  1968
1724600                       Inman Jackson   3.0  1954
1724601                        Gates Watson   4.0  1956
1724602                       John Prentice   2.0  1967
1724603                        Virgil Tibbs   1.0  1967
1724604                      Clyde Williams   1.0  1975
1724605                         Homer Smith   1.0  1963
1724606                       Roy Parmenter   1.0  1988
1724607                   Dr. Luther Brooks   4.0  1950
1724608                          Eddie Cook   3.0  1961
1724609                               Porgy   1.0  1959
1724610                              Doctor   1.0  1962
1724611                           Robertson   5.0  1952
1724612                    Night Club Extra   NaN  1947
1724613                      Warren Stantin   1.0  1988
1724614                       Donald Crease   4.0  1992
1724615                   Kimani Wa Karanja  13.0  1957
1724616                       Ben Munceford   2.0  1965
1724617                         Noah Cullen   2.0  1958
1724618                     Simon of Cyrene  21.0  1965
1724619  FBI Deputy Director Carter Preston   3.0  1997
1724620                          Aly Mansuh   2.0  1964
1724621                         Jason Higgs   1.0  1969
1724622                                Obam   2.0  1957
1724623                        Virgil Tibbs   1.0  1971
1724624                         Alan Newell   1.0  1965
1724625                         Shack Twala   1.0  1975
1724626                        Virgil Tibbs   1.0  1970
1724627                      Mark Thackeray   1.0  1967
1724628                       Steve Jackson   1.0  1974
1724629                              Marcus   3.0  1958

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?
- 1950년대에 배우가 몇 개의 주연(n=1)을 맡을 수 있었고 여배우가 몇 개 사용 가능했는가

In [33]:
lst = cast[(cast.year //10 == 195) &(cast.n==1)]

In [34]:
len(lst)

9503

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?
- 1950년대에 배우가 몇 개의 조연(n=2)을 맡았고 여배우가 몇 개의 조연을 맡았습니까?

In [35]:
lst = cast[(cast.year // 10 ==195) &(cast.n==2)]

In [36]:
len(lst)

9047